.Rproj.user
.Rhistory
.RData
inst/doc
build
..Rcheck
man/*.Rd
LedPred.Rcheck
LedPred_*.tar.gz
man.Rcheck
LedPred.BiocCheck
vignettes/LedPred.toc
vignettes/LedPred.pdf
vignettes/LedPred.tex
vignettes/LedPred.out
vignettes/LedPred-concordance.tex
vignettes/test_*
.Rd2pdf*
..pdf
LedPred.pdf
BiocCheck.out
man
