import(akima)
import(e1071)
import(irr)
importFrom("GenomicRanges",score)
importFrom("GenomicRanges",seqnames)
importFrom("GenomicRanges",seqinfo)
importFrom("GenomicRanges",strand)
importFrom("GenomicRanges","start")
importFrom("GenomicRanges","start<-")
importFrom("GenomicRanges","end")
importFrom("GenomicRanges","end<-")
importFrom("GenomicRanges","mcols")
importFrom("GenomicRanges","mcols<-")
importFrom("GenomicRanges",as.data.frame)
importFrom("GenomicRanges",makeGRangesFromDataFrame)
import(jsonlite)
import(parallel)
import(plot3D)
import(plyr)
import(RCurl)
import(ROCR)
import(testthat)

export(mapFeaturesToSeqs,
mcTune,
rankFeatures,
tuneFeatureNb,
createModel,
evaluateModelPerformance,
scoreData,
LedPred
)


