import(akima)
import(e1071)
import(irr)
import(jsonlite)
import(parallel)
import(plot3D)
import(plyr)
import(RCurl)
import(ROCR)
import(testthat)

export(mapFeaturesToCRMs,
mcTune,
rankFeatures,
tuneFeatureNb,
createModel,
evaluateModelPerformance,
scoreData,
LedPred
)


